:root {
  --background: white;
  --primary: #145ca8;
  --primary-lighten: #f4f1fa;
  --secondary: #fafafa;
  --border: #ebebeb;
  --text: #4a4a4a;
  --text-lighten: #7a7a7a;
  --error: #db6a82;
  --success: #2cc194;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  margin: 0;
  background: var(--primary);
  color: var(--text);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  direction: ltr;
  overflow: hidden;
}

.body__popup {
  width: 800px;
}

a,
a:focus,
a:hover {
  color: var(--primary);
  outline: none;
  text-decoration: underline;
}

p {
  margin: 0 0 0.5rem 0;
}

table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}

.popup {
  max-height: 34rem;
  background: var(--background);
  overflow-y: auto;
}

h1 {
  color: var(--primary-lighten);
}

.header {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background: var(--primary);
}

.spacer {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.tabs {
  display: flex;
  align-items: center;
  padding-right: 1.75rem;
  border-bottom: 1px solid var(--border);
  background: var(--background);
  font-size: 0.8rem;
}

.tab {
  position: relative;
  padding: 1rem 1.5rem 0.8rem 1.5rem;
  color: var(--text-lighten);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

.tab:hover {
  background: var(--secondary);
}

.tab--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.tab--active {
  background: var(--primary-lighten);
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  pointer-events: none;
}

.tab-item {
  padding: 1rem 1.5rem 0 1.5rem;
  background: var(--background);
  overflow: hidden;
}

.tab-item:nth-child(2) {
  width: 31rem;
}

.tab-item--hidden {
  display: none;
}

.notification-table td {
  padding: 0.25rem;
  border-bottom: 1px solid #a5abbd;
}

.notification-table a {
  text-decoration: none;
  cursor: pointer;
}

.tag {
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 10px;
  color: white;
  text-align: center;
  vertical-align: top;
}

.tag-new {
  background-color: var(--error);
}

.tag-changed {
  background-color: var(--success);
}

.btn {
  cursor: pointer;
}
